body{
    background-color:black;
}
h2{
    color:yellow;
    text-decoration:underline;
    
}
a{

    color:white;
    text-decoration: none;
    
}
/* #id{
    property:value 
    */


/* #id_tag{
    color:aquamarine
} */

/* tagselectors */
/* tagname{} */
/* class */
/* id */